@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --light-blue: #AFD3E2;
    --mid-blue: #19A7CE;
    --dark-blue: #146C94;
    --white: #F6F1F1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-blue);
    background-image: linear-gradient(to bottom, #19A7CE 0%, #19A7CE 50%, #146C94 50%, #146C94 100%);
}

.nav {
    background-color: var(--white);
    padding: 20px 40px;
    margin: 0;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
}

.nav ul li {
    margin: 0 10px;
    font-weight: bold;
}

.nav ul a {
    color: var(--dark-blue);
    text-decoration: none;
}

.btn  {
    background-color: red;
    outline: 0;
}


.line {
    color: var(--light-blue);
    height: 2px;
    width: 100%;
}