:root {
  --warm1: #d14d72;
  --warm2: #ffabab;
  --warm3: #fcc8d1;
  --warm4: #fef2f4;
}

* {
  box-sizing: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--warm4);
}

.navbar-nav {
  text-align: end;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav-item {
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
  color: var(--warm2);
  text-align: end;
  position: sticky;
  z-index: 1;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

.nav-item:hover {
  background-color: #fef2f4;
  padding: 10px;
  color: #d14d72;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: url("https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80")
    no-repeat center center/cover;
  width: calc(100vw + 60px);
  height: calc(50vh + 60px);
  filter: blur(2px);
  transition: filter 0.8s ease-in-out;
}

.image:hover {
  filter: blur(0px);
}

.logo {
  z-index: 1;
  color: var(--warm2);
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 10px;
  border-radius: 4px;
  transform: translateY(50%);
  font-size: 38px;
}

.electronics {
  position: relative;
  top: 350px;
  align-items: center;
  text-align: center;
}

.product-name {
}
