@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald&display=swap");

/* font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  display: flex;
  padding: 0 40pt;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 8pt 12pt;
  border: none;
  font-weight: bold;
}

.navbar {
  display: flex;
  margin-top: 24pt;
  justify-content: space-between;
}

.navbar-list a {
  font-size: 16pt;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  margin: 0 8pt;
  font-weight: bold;
}

.navbar-logo img {
  width: 100pt;
  height: 40pt;
}

.container-one {
  margin-top: 80pt;
  display: flex;
  align-items: center;
}

.container-one .left-side {
  width: 50%;
  padding: 0 18pt;
  text-shadow: 0 2pt 20pt rgba(0, 0, 0, 0.4);
}

.container-one .left-side h1 {
  font-size: 24pt;
  font-family: "Lora", serif;
}

.container-one .right-side {
  background: url("https://images.pexels.com/photos/1738622/pexels-photo-1738622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 90vw;
  height: 50vh;
  margin-right: -40pt;
  border-radius: 8pt;
}

.container-two {
  margin-top: 80pt;
  position: relative;
}

.container-two .main-image {
  background: url("https://images.pexels.com/photos/1070492/pexels-photo-1070492.jpeg")
    no-repeat center center/cover;
  width: 100vw;
  height: 60vh;
  margin-left: -40pt;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
}

.container-two .middle {
  width: 300pt;
  height: 150pt;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8pt;
  box-shadow: 0 16pt 16pt rgba(0, 0, 0, 0.4);
}

.container-two .text {
  font-size: 16pt;
  text-align: center;
  padding: 20pt;
  padding-bottom: 16pt;
}

.container-two .btn {
  margin: 0 50%;
  transform: translateX(-50%);
}

.container-three {
  position: relative;
  top: 60vh;
}

.container-three h1 {
  padding-top: 80pt;
}

.card {
  margin: 0;
}

.card h4 {
  margin: 8pt 0;
}
