@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald&display=swap");

:root {
  --primary: #609966;
  --darkest: #101911;
  --dark: #2b442d;
  --light: #7bc382;
  --lightest: #95ee9f;
}

/* font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif; */

* {
  box-sizing: border-box;
}

h1,
h4 {
  color: var(--dark);
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--dark);
  margin: 0;
  display: flex;
  padding: 0 40pt;
  flex-direction: column;
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  background-color: var(--darkest);
  color: white;
  padding: 8pt 12pt;
  border: none;
  font-weight: bold;
  background-color: var(--primary);
}

.navbar {
  display: flex;
  margin-top: 24pt;
  justify-content: space-between;
  align-items: center;
}

.navbar-list a {
  font-size: 16pt;
  color: var(--darkest);
  text-decoration: none;
  border-bottom: 2px solid var(--darkest);
  margin: 0 8pt;
  font-weight: bold;
  transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
}

.navbar-list a:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.navbar-list a:last-of-type {
  border-bottom: none;
  border: 2px solid var(--primary);
  padding: 4pt 8pt;
  border-radius: 8pt;
  color: var(--primary);
}

.navbar-logo img {
  width: 200pt;
  height: 80pt;
}

.container-one {
  margin-top: 80pt;
  display: flex;
  align-items: center;
}

.container-one .left-side {
  width: 50%;
  padding: 0 18pt;
  text-shadow: 0 2pt 20pt rgba(16, 25, 17, 0.3);
}

.container-one .left-side h1 {
  font-size: 24pt;
  font-family: "Lora", serif;
}

.container-one .right-side {
  background: url("https://images.pexels.com/photos/1738622/pexels-photo-1738622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 90vw;
  height: 50vh;
  margin-right: -40pt;
  border-top-left-radius: 8pt;
  border-bottom-left-radius: 8pt;
}

.container-two {
  margin-top: 80pt;
  position: relative;
}

.container-two .main-image {
  background: url("https://images.pexels.com/photos/1070492/pexels-photo-1070492.jpeg")
    no-repeat center center/cover;
  width: 100vw;
  height: 60vh;
  margin-left: -40pt;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
}

.container-two .middle {
  width: 300pt;
  height: 150pt;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8pt;
  box-shadow: 0 16pt 16pt rgba(16, 25, 17, 0.7);
}

.container-two .text {
  font-size: 16pt;
  text-align: center;
  padding: 20pt;
  padding-bottom: 16pt;
}

.container-two .btn {
  margin: 0 50%;
  transform: translateX(-50%);
}

.container-two .btn a {
  color: #fff;
  text-decoration: none;
}

.container-three {
  position: relative;
  top: 60vh;
  margin-bottom: 80pt;
}

.container-three h1 {
  padding-top: 80pt;
}

.card {
  margin: 0;
  box-shadow: 0 2pt 20pt rgba(16, 25, 17, 0.3);
  padding: 20pt;
  margin: 16pt;
  border-radius: 8pt;
}

.card h4 {
  margin: 8pt 0;
}

.card h4 a {
  color: var(--darkest);
  text-decoration: none;
  border-bottom: 2px solid var(--darkest);
}

.container-four {
  margin-bottom: 80pt;
  position: relative;
}

.images {
  position: relative;
  top: 60vh;
  display: flex;
}

.image {
  width: 25%;
  height: 60vh;
  margin-bottom: 80pt;
  transition: width 1s ease-in-out;
}

.image.active {
  width: 80%;
}

.image-one {
  background: url("https://images.pexels.com/photos/7645826/pexels-photo-7645826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-top-left-radius: 8pt;
  border-bottom-left-radius: 8pt;
}

.image-two {
  background: url("https://images.pexels.com/photos/1047051/pexels-photo-1047051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.image-three {
  background: url("https://images.pexels.com/photos/2863625/pexels-photo-2863625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.image-four {
  background: url("https://images.pexels.com/photos/3573382/pexels-photo-3573382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-top-right-radius: 8pt;
  border-bottom-right-radius: 8pt;
}

footer {
  margin-top: 50vh;
  position: relative;
  padding: 40pt 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer-1 {
  display: flex;
}

.container-footer-1 .bi {
  cursor: pointer;
  font-size: 24pt;
  margin: 0 8pt;
}

.container-footer-2 {
  display: flex;
}

.container-footer-2 a {
  margin: 8pt;
  text-decoration: none;
  font-size: 16pt;
  border-bottom: 2px solid #000;
  color: #000;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}

.arrow {
  font-size: 18pt;
  color: var(--primary);
}

.arrow.hidden {
  transform: rotate(90deg);
}

.adventure {
  width: 100vw;
}

.adventure-2 {
  padding: 32pt;
  border: 2px solid var(--dark);
  border-radius: 8pt;
  justify-content: center;
  width: 300px;
}

.adventure-info img {
  width: 100%;
  padding: 16pt;
  border-radius: 8pt;
}

.adventure-info .hidden {
  display: none;
}

.adventure-list.hidden {
  display: none;
}

.adventure-list {
  margin: 0;
  display: block;
}

.adventure-list p {
  margin: 0;
}
