@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald&display=swap");

:root {
  --primary: #609966;
  --darkest: #101911;
  --dark: #2b442d;
  --light: #7bc382;
  --lightest: #95ee9f;
}

/* font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif; */

* {
  box-sizing: border-box;
}

h1,
h4 {
  color: var(--dark);
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--dark);
  margin: 0;
  display: flex;
  padding: 0 40pt;
  flex-direction: column;
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  background-color: var(--darkest);
  color: white;
  padding: 8pt 12pt;
  border: none;
  font-weight: bold;
  background-color: var(--primary);
}

.navbar {
  display: flex;
  margin-top: 24pt;
  justify-content: space-between;
  align-items: center;
}

.navbar-list a {
  font-size: 16pt;
  color: var(--darkest);
  text-decoration: none;
  border-bottom: 2px solid var(--darkest);
  margin: 0 8pt;
  font-weight: bold;
  transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
}

.navbar-list a:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.navbar-list a:last-of-type {
  border-bottom: none;
  border: 2px solid var(--primary);
  padding: 4pt 8pt;
  border-radius: 8pt;
  color: var(--primary);
}

.navbar-logo img {
  width: 200pt;
  height: 80pt;
}

.hamburger {
  display: none;
}

.container-one {
  margin-top: 80pt;
  display: flex;
  align-items: center;
}

.container-one .left-side {
  width: 50%;
  padding: 0 18pt;
  text-shadow: 0 2pt 20pt rgba(16, 25, 17, 0.3);
}

.container-one .left-side .btn a {
  color: #fff;
  text-decoration: none;
}

.container-one .left-side h1 {
  font-size: 24pt;
  font-family: "Lora", serif;
}

.container-one .right-side {
  background: url("https://images.pexels.com/photos/3512846/pexels-photo-3512846.jpeg")
    no-repeat center center/cover;
  width: 90vw;
  height: 50vh;
  margin-right: -40pt;
  border-top-left-radius: 8pt;
  border-bottom-left-radius: 8pt;
}

.container-two {
  margin-top: 80pt;
  position: relative;
}

.container-two .main-image {
  background: url("https://images.pexels.com/photos/1070492/pexels-photo-1070492.jpeg")
    no-repeat center center/cover;
  width: 100vw;
  height: 60vh;
  margin-left: -40pt;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
}

.container-two .middle {
  width: 300pt;
  height: 150pt;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8pt;
  box-shadow: 0 16pt 16pt rgba(16, 25, 17, 0.7);
}

.container-two .text {
  font-size: 16pt;
  text-align: center;
  padding: 20pt;
  padding-bottom: 16pt;
}

.container-two .btn {
  margin: 0 50%;
  transform: translateX(-50%);
}

.container-two .btn a {
  color: #fff;
  text-decoration: none;
}

.container-three {
  position: relative;
  top: 60vh;
  margin-bottom: 80pt;
}

.container-three h1 {
  padding-top: 80pt;
}

.card {
  margin: 0;
  box-shadow: 0 2pt 20pt rgba(16, 25, 17, 0.3);
  padding: 20pt;
  margin: 16pt;
  border-radius: 8pt;
}

.card h4 {
  margin: 8pt 0;
}

.card h4 a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 2px solid var(--primary);
  cursor: pointer;
}

.container-four {
  margin-bottom: 80pt;
  position: relative;
}

.images {
  position: relative;
  top: 60vh;
  display: flex;
}

.image {
  width: 25%;
  height: 60vh;
  margin-bottom: 80pt;
  transition: width 1s ease-in-out;
}

.image.active {
  width: 80%;
}

.image-one {
  background: url("https://images.pexels.com/photos/7645826/pexels-photo-7645826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-top-left-radius: 8pt;
  border-bottom-left-radius: 8pt;
}

.image-two {
  background: url("https://images.pexels.com/photos/1047051/pexels-photo-1047051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.image-three {
  background: url("https://images.pexels.com/photos/2863625/pexels-photo-2863625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.image-four {
  background: url("https://images.pexels.com/photos/3573382/pexels-photo-3573382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-top-right-radius: 8pt;
  border-bottom-right-radius: 8pt;
}

.gallery-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 16pt 16pt rgba(16, 25, 17, 0.7);
  padding: 16pt;
}

.gallery-btn a {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 50vh;
  position: relative;
  padding: 40pt 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer-1 {
  display: flex;
}

.container-footer-1 .bi {
  cursor: pointer;
  font-size: 24pt;
  margin: 0 8pt;
}

.container-footer-2 {
  display: flex;
}

.container-footer-2 a {
  margin: 8pt;
  text-decoration: none;
  font-size: 16pt;
  border-bottom: 2px solid #000;
  color: #000;
}

.container-2 {
  margin-top: 80pt;
  align-items: start;
  justify-content: start;
}

.activity {
  display: inline-flex;
  border: 1px solid var(--primary);
  padding: 4pt;
  border-radius: 8pt;
  margin: 4pt;
}

.activity label {
  margin-right: 4pt;
}

.container-2 .btn {
  display: block;
  margin-top: 20pt;
  width: 100%;
}

.your-options {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 32pt;
}

.options {
  box-shadow: 1pt 4pt 16pt rgba(16, 25, 17, 0.7);
  margin: 20pt 0;
  width: 25vw;
  padding: 20pt;
  border-radius: 8pt;
}

.options p {
  margin: 0;
}

.option-image {
  width: 20vw;
  height: 30vh;
  margin-top: 8pt;
}

.option-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8pt;
}

.gallery-container {
  margin-top: 80pt;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8pt;
  height: 350vh;
}

.item {
  max-width: 100%;
  height: 400pt;
  border-radius: 8pt;
}

.gallery-item-gradient {
  position: relative;
  border-radius: 8pt;

  max-width: 100%;
  height: 400pt;
  background-color: rgba(16, 25, 17, 0.7);
  transition: background-color 0.8s ease-in-out;
}

.gallery-item-gradient p {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateX(-25%);
  text-shadow: 0 2pt 20pt rgba(16, 25, 17, 0.7);
  font-size: 18pt;
  text-align: center;
}

.gallery-item-gradient:hover {
  background-color: rgba(16, 25, 17, 0);
}

.gallery-item-1 {
  background: url("https://images.pexels.com/photos/16978835/pexels-photo-16978835/free-photo-of-place-de-la-republique-in-paris.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-2 {
  background: url("https://images.pexels.com/photos/16946260/pexels-photo-16946260/free-photo-of-eiffel-tower-in-paris.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-3 {
  background: url("https://images.pexels.com/photos/16934179/pexels-photo-16934179/free-photo-of-aerial-panorama-of-rooftops-in-paris.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-5 {
  background: url("https://images.pexels.com/photos/16934181/pexels-photo-16934181/free-photo-of-low-angle-shot-of-eiffel-tower-seen-through-tree-branches-paris-france.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-6 {
  background: url("https://images.pexels.com/photos/17048931/pexels-photo-17048931/free-photo-of-view-of-the-fatih-sultan-mehmet-bridge-over-the-bosphorus-strait-in-istanbul-turkey.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-7 {
  background: url("https://images.pexels.com/photos/17024980/pexels-photo-17024980/free-photo-of-taxi-on-street-with-galata-tower-behind.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-8 {
  background: url("https://images.pexels.com/photos/17043643/pexels-photo-17043643/free-photo-of-buildings-on-sea-shore-in-istanbul.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-9 {
  background: url("https://images.pexels.com/photos/17027038/pexels-photo-17027038/free-photo-of-cityscape-of-istanbul-turkey.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-10 {
  background: url("https://images.pexels.com/photos/1029021/pexels-photo-1029021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-11 {
  background: url("https://images.pexels.com/photos/3264735/pexels-photo-3264735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-12 {
  background: url("https://images.pexels.com/photos/7026306/pexels-photo-7026306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-13 {
  background: url("https://images.pexels.com/photos/17077796/pexels-photo-17077796/free-photo-of-palazzo-pesaro-papafava-in-venice.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-14 {
  background: url("https://images.pexels.com/photos/705782/pexels-photo-705782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-15 {
  background: url("https://images.pexels.com/photos/161101/venice-church-gondola-italy-161101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-16 {
  background: url("https://images.pexels.com/photos/5074420/pexels-photo-5074420.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.gallery-item-17 {
  background: url("https://images.pexels.com/photos/1666018/pexels-photo-1666018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.container-about {
  padding: 0 80pt;
  margin-bottom: -180pt;
}

.about-first-section {
  margin-bottom: 80pt;
}

.about-image {
  margin-left: -120pt;
  background: url("https://images.pexels.com/photos/8021278/pexels-photo-8021278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat center center/cover;
  width: 100vw;
  height: 400pt;
}

.about-second-section h1 {
  margin-top: 80pt;
}

.about-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-item {
  padding: 30pt;
  width: 250pt;
  height: 250pt;
  box-shadow: 1pt 4pt 16pt rgba(16, 25, 17, 0.7);
  border-radius: 8pt;
  margin-bottom: 16pt;
}

.icon {
  font-size: 24pt;
  color: var(--darkest);
}

.bi-brightness-alt-low-fill {
  font-size: 32pt;
}

.about-third-section {
  margin-top: 80pt;
}

@media screen and (max-width: 800px) {
  .navbar-list a {
    display: block;
    border: 2px solid transparent;
    text-align: end;
    margin: 8pt 0;
    width: 100%;
    font-size: 12pt;
  }

  .navbar-list a:hover {
    border-bottom: 2px solid transparent;
  }

  .navbar-list a:last-child {
    border-bottom: 2px solid var(--primary);
  }

  .navbar-list a:last-child {
    width: 100%;
  }

  .container-one {
    display: block;
  }

  .container-one .left-side {
    width: 100%;
    padding: 0 18pt;
    text-shadow: 0 2pt 20pt rgba(16, 25, 17, 0.3);
  }

  .container-one .left-side h1 {
    font-size: 24pt;
    font-family: "Lora", serif;
  }

  .container-one .right-side {
    background: url("https://images.pexels.com/photos/3512846/pexels-photo-3512846.jpeg")
      no-repeat center center/cover;
    width: 90vw;
    height: 50vh;
    border-radius: 8pt;
    margin-left: -10pt;
  }

  .container-one .btn {
    cursor: pointer;
    background-color: var(--darkest);
    color: white;
    padding: 8pt 12pt;
    border: none;
    font-weight: bold;
    background-color: var(--primary);
    margin-bottom: 20pt;
  }

  .your-options {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 8pt;
    margin: 0;
  }

  .options {
    width: 40vw;
    padding: 16pt;
  }

  .option-image {
    width: 30vw;
    height: 10vh;
    margin-top: 8pt;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-list a {
    font-size: 11pt;
    margin: 4pt;
  }

  .gallery-item-gradient p {
    font-size: 12pt;
  }

  .about-items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16pt;
  }
}

@media screen and (max-width: 700px) {
  .container-one .right-side {
    margin-left: -20pt;
  }

  .your-options {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 8pt;
    margin: 0;
  }

  .options {
    width: 40vw;
    padding: 16pt;
  }
}

@media (max-width: 500px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    height: 550vh;
  }
}
