:root {
    --primary-color: #393646;
    --secondary-color: #4F4557;
    --text-color: #F4EEE0;
}

* {
    box-sizing: none;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid #F4EEE0;
}

.navbar ul li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    justify-content: end;
    margin: 10px 20px;
    padding: 10px;
}

.front-page-main {
    padding: 60px;
}

.front-page-main button.sign-up {
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    padding: 6px 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    margin-left: 50%;
    transform: translateX(-50%);
}


.form-main.hidden {
    visibility: hidden;
}

.form-main {
    position: absolute;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 5px;
    color: var(--secondary-color);
    text-align: center;
}

.form-main .form-control {
    margin: 10px 0;
}

.form-main .label {
    border-bottom: 3px solid var(--secondary-color);
}

.form-main .form-control .text-input {
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
    padding: 5px;
    font-size: 12px;
    width: 100%;
}

.form-main .cancel-btn {
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 6px;
   margin-top: 6px;
   background-color: transparent;
   border: none;
   color: #393646;
   font-size: 18px;
}