@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --darkest: #393646;
  --darker: #4f4557;
  --light: #6d5d6e;
  --lightest: #f4eee0;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-transform: capitalize;
  font-family: "Mulish", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  font-size: 44px;
  background-color: var(--darker);
  position: relative;
}

.fa-github {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  from {
    color: var(--light);
  }
  to {
    color: var(--lightest);
  }
}

.container span {
  display: block;
  color: var(--lightest);
  position: relative;
}

.container span.coming,
.container span.soon {
  color: var(--light);
  transition: color 1s ease-in-out;
}
