/* background: url("https://initiate.alphacoders.com/images/730/cropped-1920-1080-730002.jpg?1524")
no-repeat center center/cover; */

/* background: url("https://initiate.alphacoders.com/images/730/cropped-1920-1080-730020.jpg?9136")
no-repeat center center/cover; */
/* 
background: url("https://images.alphacoders.com/879/879311.png") no-repeat
center center/cover; */

.container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.image {
  background: url("https://images.alphacoders.com/879/879311.png") no-repeat
    center center/cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

p {
  position: absolute;
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;
  top: 50%;
  font-size: 18px;
  color: white;
  margin: 0px 30px;
}
