@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --light: #a5c9ca;
  --dark: #395b64;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.container-two {
  align-items: center;
  text-align: center;
  background-color: var(--light);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 22px;
}

span {
  color: red;
}

h4 {
  text-transform: capitalize;
  font-size: 20px;
}

.container img {
  width: 200px;
  height: 200px;
}

form {
  margin-top: 50px;
  margin-left: 50px;
}

label {
  color: #fff;
}

input {
  border-radius: 5px;
  margin-left: 20px;
}

.city {
  text-transform: capitalize;
}
