<%- include("partials/navbar") -%>
<body>
    <h4>Try our pre-picked adventures recommended by our trusty guides</h4>
    <div class="adventures">
        
    </div>
</body>
<%- include("partials/footer") -%>