<%- include("partials/navbar") -%>
<body>
    <div class="container-calculator-1">
        <h4>Choose your destination</h4>
        <div class="calculator-images">
            <div class="calc-image everest">
                <p class="calc-text">Mount Everest Base Camp</p>
            </div>
            <div class="calc-image barrier-reef">
                <p class="calc-text">Great Barrier Reef</p>
            </div>
            <div class="calc-image patagonia">
                <p class="calc-text">Patagonia</p>
            </div>
            <div class="calc-image machu-pichu">
                <p class="calc-text">Machu Pichu</p>
            </div>
        </div>
        <h4>Or create your next destination</h4>
    </div>
    <div class="create-dest">
        
    </div>
</body>
<%- include("partials/footer") -%>