<%- include("partials/navbar") -%>
<body>
    <div class="container">
        <div class="container-calculator-1">
            <h4>Choose your destination</h4>
            <ul>
                <li>Select from a diverse range of thrilling destinations around the world, each offering unique adventures and natural wonder</li>
                <li>Browse through our curated list of destinations, including Everest Base Camp, Great Barrier Reef, Patagonia, Machu Picchu, and more.</li>
            </ul>

            <div class="select-dest">
                <label for="trails">Trails</label>
                <input type="checkbox" name="Trails" id="">
                <label for="mountain-path">Mountain Path</label>
                <input type="checkbox" name="mountain-path" id="">
                <label for="lake">Lake</label>
                <input type="checkbox" name="lake" id="">
                <label for="lake">Lake</label>
                <input type="checkbox" name="lake" id="">
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer") -%>