<%- include("partials/navbar") -%>
<body>
    <div class="container-calculator-1">
        <h4>Choose your destination</h4>
        <div class="calculator-images">
            <div class="everest">
                <p>Mount Everest Base Camp</p>
            </div>
            <div class="barrier-reef">
                <p>Great Barrier Reef</p>
            </div>
            <div class="patagonia">
                <p>Patagonia</p>
            </div>
            <div class="machui-pichu">
                <p>Machu Pichu</p>
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer") -%>