<%- include("partials/navbar") -%>

<div class="gallery-container">
  <div class="gallery-item-1 item"></div>
  <div class="gallery-item-2 item"></div>
  <div class="gallery-item-3 item"></div>
  <div class="gallery-item-5 item"></div>
  <div class="gallery-item-6 item"></div>
  <div class="gallery-item-7 item"></div>
  <div class="gallery-item-8 item"></div>
  <div class="gallery-item-9 item"></div>
  <div class="gallery-item-10 item"></div>
  <div class="gallery-item-11 item"></div>
  <div class="gallery-item-12 item"></div>
  <div class="gallery-item-13 item"></div>
</div>

<%- include("partials/footer") -%>
