<%- include("partials/navbar") -%>

<div class="gallery-container">
  <div class="gallery-item-1 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-2 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-3 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-5 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-6 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-7 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-8 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-9 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-10 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-11 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-12 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-13 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-14 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-16 item">
    <div class="gallery-item-gradient"></div>
  </div>
  <div class="gallery-item-17 item">
    <div class="gallery-item-gradient"></div>
  </div>
</div>

<%- include("partials/footer") -%>
