<%- include("partials/navbar") %>

<body>
  <div class="container">
    <div class="container-one">
      <div class="left-side">
        <h3>Welcome to</h3>
        <h1>Adventurer's Haven</h1>
        <p>
          Adventurer's Haven is a one-stop destination for thrill-seekers and
          nature enthusiasts looking for unforgettable travel experiences.
          Whether you're a seasoned explorer or a first-time adventurer, our
          website offers a wide range of thrilling activities and expeditions to
          satisfy your wanderlust.
        </p>
        <button class="btn">See More</button>
      </div>
      <div class="right-side"></div>
    </div>

    <div class="container-two">
      <div class="main-image">
        <div class="middle">
          <div class="text">
            Use our trip calculator to determine what kind of Adventurer you are
          </div>
          <button class="btn">
            <a href="/calculator">Calculate Adventurer</a>
          </button>
        </div>
      </div>
    </div>

    <div class="container-three">
      <h1>Latest Destination Guides</h1>
      <div class="cards">
        <div class="card">
          <h4>Everest Base Camp, Nepal</h4>
          <ul>
            <li>
              Overview: Unleash your adventurous spirit and conquer Mount
              Everest's base camp. Our guide provides essential information for
              this epic trekking destination.
            </li>
            <li>
              Highlights: Breathtaking Himalayan views, rich Sherpa culture, and
              an elevation of 5,364 meters.
            </li>
            <li>
              Trekking Routes: Classic Everest Base Camp trek and alternative
              trails like Gokyo Lakes.
            </li>
            <h4><a href="#">Read More</a></h4>
          </ul>
        </div>
        <div class="card">
          <h4>Great Barrier Reef, Australia</h4>
          <ul>
            <li>
              Overview: Dive into the world's largest coral reef system, the
              Great Barrier Reef. Our guide helps you plan an unforgettable
              marine adventure.
            </li>
            <li>
              Snorkeling and Diving: Discover vibrant coral reefs, tropical
              fish, and marine life.
            </li>
            <li>
              Conservation: Learn about efforts to preserve the reef and
              responsible practices.
            </li>
            <h4><a href="#">Read More</a></h4>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-four">
      <div class="images">
        <div class="image image-one"></div>
        <div class="image image-two"></div>
        <div class="image image-three"></div>
        <div class="image image-four"></div>
        <button class="gallery-btn btn"><a href="/gallery">Gallery</a></button>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>
</body>
