<%- include("partials/navbar") %>

<body>
    <div class="container">
        <div class="container-one">
            <div class="left-side">
                <h3>Welcome to</h3>
                <h1>Adventurer's Haven</h1>
                <p>Adventurer's Haven is a one-stop destination for thrill-seekers and nature enthusiasts looking for unforgettable travel experiences. Whether you're a seasoned explorer or a first-time adventurer, our website offers a wide range of thrilling activities and expeditions to satisfy your wanderlust.</p>
                <button class="btn">See More</button>
            </div>
            <div class="right-side"></div>
        </div>

        <div class="container-two">
            <div class="main-image">
                <div class="middle">
                    <div class="text">Use our trip calculator to determine what kind of Adventurer you are</div>
                    <button class="btn">Calculate Adventurer</button>
                </div>
            </div>
        </div>
    </div>
</body>