* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: plum;
    font-size: 3.5rem;
}

.screen {
    background-color: white;
    width: 30%;
    height: 10%;
    margin-bottom: 20px;
    border: black 2px solid;
    border-radius: 10px;
    color: plum;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.number, .symbol {
    display: inline;
    margin: 20px;
    border-radius: 50px;
}
