* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: end;
  justify-content: end;
  font-size: 18px;
}

nav ul li {
  margin: 10px;
}

nav a {
  display: flex;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid cyan;
  animation: slide 0.8s ease-in;
}

footer {
  bottom: 0;
  left: 0;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
