@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --darkest: #030404;
  --dark: #292c2e;
  --primary: #4e5459;
  --light: #99a4ae;
  --lightest: #beccd8;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  padding: 8pt;
}

h1 {
  letter-spacing: -2px;
  font-weight: bolder;
  font-size: 22pt;
}

h3 {
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 14pt;
}

p {
  line-height: 1.5;
  font-size: 12pt;
}

.btn {
  cursor: pointer;
  background-color: blue;
  padding: 4pt;
  border-radius: 4pt;
  color: #fff;
  border: none;
  font-size: 13pt;
  margin: 8pt;
  width: 100pt;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 150pt;
}

.navbar {
  display: flex;
  position: relative;
  margin-bottom: 22pt;
}

.navbar-logo {
  background-color: #26262626;
  width: 200px;
  height: 100px;
  border-radius: 4pt;
}

.navbar-btn {
  cursor: pointer;
  position: absolute;
  top: 24pt;
  right: 24pt;
  width: 20pt;
  height: 20pt;
  font-size: 16pt;
  font-weight: bolder;
}

.navbar-btn i {
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-list-items a {
  display: none;
  text-align: end;
}

.hero-image {
  background: url("https://images.pexels.com/photos/3807799/pexels-photo-3807799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
  width: 100%;
  height: 150pt;
}

.transparent,
.transparent h1,
.transparent h3,
.transparent.btn {
  margin: 0;
}

.services-container {
  margin: 0;
}

.services-list h3,
.services-list p {
  margin: 0;
}

.service-color {
  width: 100%;
}

.service {
  margin: 0;
  padding: 0 16pt;
  border-bottom: 1px solid var(--lightest);
  margin-bottom: 22pt;
}

.service p {
  width: 200pt;
  margin-bottom: 8pt;
}

.random-image {
  background: url("https://images.pexels.com/photos/4116193/pexels-photo-4116193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
  width: 100%;
  height: 150pt;
}

.call-to-action-container {
  position: relative;
  background: url("https://images.pexels.com/photos/6870320/pexels-photo-6870320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
  width: 100%;
  height: 150pt;
}

.call-to-action-buttons {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.schedule-btn {
  width: 100pt;
  margin: 8pt;
}

.hero-image h1 {
  color: #fff;
}

.hero-image h3 {
  color: #fff;
}

footer {
  margin-top: 24pt;
  background-color: #d9fffa;
  padding: 22pt 0;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24pt;
}

.social-media-links i {
  margin: 8pt;
}

.navbar-info {
  display: flex;
  justify-content: center;
}

.navbar-info p a {
  margin: 4pt;
}

.copyright-info p {
  text-align: center;
  font-size: 8pt;
}
