.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.upload {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.upload label {
  font-size: 18px;
  display: block;
  margin: 10px;
}

.upload input {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box {
  position: relative;
  background-color: transparent;
  height: 200px;
  width: 400px;
  margin: 5px;
  border-radius: 5px;
}

.box h1 {
  opacity: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.box:hover h1 {
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .box {
    width: 200px;
  }
}
