.navbar {
  display: flex;
  justify-content: end;
  background-color: black;
  border-radius: 5px;
}

.nav-ul {
  list-style-type: none;
}

.navbar .nav-ul .nav-li {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.nav-li a {
  display: inline-block;
  /* margin: 0 20px; */
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.nav-li a:hover {
  border-bottom: 2px solid cyan;
  animation: slide 0.8s ease-in;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
