<script src="/js/script.js"></script>
<footer>
  <div class="container-footer-1">
    <div class="facebook"><i class="bi bi-facebook"></i></div>
    <div class="whatsapp"><i class="bi bi-whatsapp"></i></div>
    <div class="linkedin"><i class="bi bi-linkedin"></i></div>
    <div class="twitter"><i class="bi bi-twitter"></i></div>
    <div class="instagram"><i class="bi bi-instagram"></i></div>
  </div>
  <div class="container-footer-2">
    <p><a href="/">Home</a></p>
    <p><a href="#">Guide</a></p>
    <p><a href="/gallery">Gallery</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="#">Contact</a></p>
    <p><a href="/calculator">Calculator</a></p>
  </div>
  <div class="container-footer-3">
    <p class="copyright">
      Adventurer's Haven @ 2023 - All rights reserved || Designed by: Msnkr
    </p>
  </div>
</footer>
