<!-- <footer>
    <div class="side-one">
        <p>Adventurer's Haven is a one-stop destination for thrill-seekers and nature enthusiasts looking for unforgettable travel experiences. Whether you're a seasoned explorer or a first-time adventurer, our website offers a wide range of thrilling activities and expeditions to satisfy your wanderlust.</p>
    </div>
    <div class="side-two"></div>
    <div class="side-three">
        <ul class="footer-list">
            <a href="#">Home</a>
            <a href="#">Guides</a>
            <a href="#">Gallery</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Calculator</a>
        </ul>
    </div>
</footer> -->