<footer>
    <div class="container-footer-1">
        <div class="navigation-links">
            <a href="#">Home</a>
            <a href="#">Guides</a>
            <a href="#">Gallery</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Calculator</a>
        </div>
        <div class="additional-information">
            <a href="#">FAQs</a>
            <a href="#">Careers</a>
            <a href="#">Press & Media</a>
        </div>
        <div class="contact-information">
            <h4>Johannesburg Office Branch</h4>
            <p>011 616 6243</p>
            <p>011 616 6243</p>
        </div>
    </div>
    <div class="container-footer-2">
        <div class="privacy-policy"></div>
        <div class="copyright-notice"></div>
    </div>
</footer>