<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Adventurer's Haven</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo"></div>
        <ul class="navbar-list">
            <a href="#">Home</a>
            <a href="#">Calculator</a>
            <a href="#">Guides</a>
            <a href="#">Store</a>
            <a href="#">Gallery</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </ul>
    </nav>
</body>