<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Setting up views</title>
</head>
<body>
    <div class="container">
            <form action="/" method="post">
                <label for="city">Enter a city: </label>
                <input type="text" name="city" id="city">
                <button type="submit" class="btn">Submit</button>
            </form>
            <div class="container-two">
                <h3>The temperature in Johannesburg is <span>{{weather.temp}}°C</span></h3>
                <h4>{{weather.desc}}</h4>
                <img src="{{weather.icon}}.png" alt="">
            </div>
    </div>
    <script src="script.js"></script>
</body>
</html>