@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat&display=swap");

/* font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif;*/

:root {
  --gradient-remove: background-color 0.8s ease-in-out;
  --primary-color: #625649;
  --darkest: #0d0c0a;
  --dark: #383129;
  --medium: #625649;
  --primary-gradient: rgba(98, 86, 73, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: start;
  max-width: 100%;
}

.navbar {
  display: block;
  width: 100%;
}

.navbar .logo {
  position: absolute;
  width: 20vw;
}

.navbar-ul {
  justify-content: flex-end;
}

.nav-list-item {
  list-style-type: none;
  font-size: 14pt;
  text-align: end;
}

.nav-list-item a {
  text-decoration: none;
  font-weight: bold;
}
.nav-list-item:last-child {
}

.container-one {
  display: block;
}

.container-one .left-side h1 {
  font-size: 32pt;
  font-family: "Grand Hotel", cursive;
  text-align: center;
}

.container-one .left-side .short-description {
  padding: 0 20pt;
}

.container-one .right-side .image {
  background: url("https://images.pexels.com/photos/3230010/pexels-photo-3230010.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  width: 100vw;
  height: 30vh;
}

.container-two .top h1 {
  font-size: 32pt;
  font-family: "Grand Hotel", cursive;
  text-align: center;
}

.container-two .bottom-grid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 30px;
  justify-content: center;
}

.bottom-grid .grid-one .grid-one-image {
  background: url("https://images.pexels.com/photos/1656025/pexels-photo-1656025.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 40vw;
  height: 15vh;
}

.grid-one-image .grid-gradient {
  background-color: var(--primary-gradient);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-one-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.bottom-grid .grid-two .grid-two-image {
  background: url("https://images.pexels.com/photos/3892469/pexels-photo-3892469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 40vw;
  height: 15vh;
}

.grid-two-image .grid-gradient {
  background-color: var(--primary-gradient);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-two-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.bottom-grid .grid-three .grid-three-image {
  background: url("https://images.pexels.com/photos/302905/pexels-photo-302905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 40vw;
  height: 15vh;
}

.grid-three-image .grid-gradient {
  background-color: var(--primary-gradient);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-three-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.bottom-grid .grid-four .grid-four-image {
  background: url("https://images.pexels.com/photos/1657343/pexels-photo-1657343.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 40vw;
  height: 15vh;
}

.grid-four-image .grid-gradient {
  background-color: var(--primary-gradient);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-four-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.bottom-grid .grid-five .grid-five-image {
  background: url("https://images.pexels.com/photos/789327/pexels-photo-789327.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 40vw;
  height: 15vh;
}

.grid-five-image .grid-gradient {
  background-color: var(--primary-gradient);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-five-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.bottom-grid .grid-six .grid-six-image {
  background: url("https://images.pexels.com/photos/15698207/pexels-photo-15698207/free-photo-of-crepes-with-blueberries-and-strawberries-topped-with-apple-sauce-and-sour-cream.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 40vw;
  height: 15vh;
}

.grid-six-image .grid-gradient {
  background-color: var(--primary-gradient);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-six-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.menu-btn {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: transparent;
  margin-left: 50%;
  transform: translateX(-50%);
}

.container-three {
  display: block;
}

.container-three .top-side .new-home {
  font-family: "Grand Hotel", cursive;
  font-size: 32pt;
  text-align: center;
}

.container-three .top-side .description {
  padding: 0 20pt;
}

.container-three .bottom-side {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 30px;
}

.card-image {
  width: 40vw;
  height: 15vh;
  border-radius: 5px;
}

.bottom-side .card-body {
  text-align: center;
}

.card-one .card-image {
  background: url("https://images.pexels.com/photos/2159065/pexels-photo-2159065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-two .card-image {
  background: url("https://images.pexels.com/photos/1438445/pexels-photo-1438445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-three .card-image {
  background: url("https://images.pexels.com/photos/1833320/pexels-photo-1833320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-four .card-image {
  background: url("https://images.pexels.com/photos/2307221/pexels-photo-2307221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.container-four .top-side .events {
  font-family: "Grand Hotel", cursive;
  font-size: 32pt;
  text-align: center;
}

.container-four h4 {
  margin: 0;
}

.event-images {
  display: block;
  margin: -20pt 0;
}

.event-image-one .image-one {
  background: url("https://images.pexels.com/photos/16231184/pexels-photo-16231184/free-photo-of-woman-sitting-at-the-table-in-a-cafe-and-reading-a-book.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 100vw;
  height: 20vh;
  border-radius: 5px;
  cursor: pointer;
}

.event-image-two .image-two {
  background: url("https://images.pexels.com/photos/1592260/pexels-photo-1592260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 100vw;
  height: 20vh;
  border-radius: 5px;
  cursor: pointer;
}

.container-four .event-images {
  text-align: center;
}

.container-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-five h1 {
  font-family: "Grand Hotel", cursive;
  font-size: 32pt;
  text-align: center;
}

.name-input input {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
}

.email-input input {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
}

.message textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
}

.contact-btn {
  display: block;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
  padding: 8px 12px;
  font-size: 16px;
  border: transparent;
  margin-top: 10px;
  border-radius: 5px;
}

footer {
  display: none;
}
