@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat&display=swap");

/* font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif;*/

:root {
  --gradient-remove: background-color 0.8s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.navbar {
  display: block;
  width: 100%;
}

.navbar .logo {
  position: absolute;
  width: 20vw;
  padding: 20px;
}

.navbar-ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}

.nav-list-item {
  list-style-type: none;
  font-size: 14pt;
}

.nav-list-item a {
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  color: #000;
}

.nav-list-item:last-child {
  margin-right: 20px;
}

.container-one {
  padding: 40px;
  justify-content: space-between;
  display: flex;
}

.container-one .left-side h1 {
  font-size: 44pt;
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
}

.container-one .left-side p {
  margin-right: 12px;
}

.container-one .right-side .image {
  background: url("https://images.pexels.com/photos/3230010/pexels-photo-3230010.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  width: 50vw;
  height: 50vh;
}

.container-two {
  padding: 40px;
}

.container-two .top h1 {
  font-size: 44pt;
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.container-two .bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 10px;
  border-radius: 5px;
  width: 100%;
  justify-content: center;
}

.bottom-grid .grid-one .grid-one-image {
  background: url("https://images.pexels.com/photos/1656025/pexels-photo-1656025.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

.grid-one-image .grid-gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.grid-one-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.bottom-grid .grid-two .grid-two-image {
  background: url("https://images.pexels.com/photos/3892469/pexels-photo-3892469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

.grid-two-image .grid-gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-two-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.bottom-grid .grid-three .grid-three-image {
  background: url("https://images.pexels.com/photos/302905/pexels-photo-302905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

.grid-three-image .grid-gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-three-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.bottom-grid .grid-four .grid-four-image {
  background: url("https://images.pexels.com/photos/1657343/pexels-photo-1657343.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

.grid-four-image .grid-gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-four-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.bottom-grid .grid-five .grid-five-image {
  background: url("https://images.pexels.com/photos/789327/pexels-photo-789327.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

.grid-five-image .grid-gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-five-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.bottom-grid .grid-six .grid-six-image {
  background: url("https://images.pexels.com/photos/15698207/pexels-photo-15698207/free-photo-of-crepes-with-blueberries-and-strawberries-topped-with-apple-sauce-and-sour-cream.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

.grid-six-image .grid-gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
  transition: var(--gradient-remove);
}

.grid-six-image .grid-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.menu-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
}

.container-three {
  padding: 40px;
}

.top-side {
  display: flex;
  justify-content: space-between;
}

.container-three .top-side .description {
  max-width: 50%;
  margin-top: 40px;
}

.container-three .top-side .new-home {
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
  max-width: 40%;
  font-size: 32pt;
  padding: 70px 0;
  text-align: center;
}

.container-three .bottom-side {
  margin-top: 40px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.card-image {
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.bottom-side .card-body {
  text-align: center;
  padding: 0 10px;
  text-shadow: 0pt 4pt 10px rgba(0, 0, 0, 0.7);
}

.card-one .card-image {
  background: url("https://images.pexels.com/photos/2159065/pexels-photo-2159065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-two .card-image {
  background: url("https://images.pexels.com/photos/1438445/pexels-photo-1438445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-three .card-image {
  background: url("https://images.pexels.com/photos/1833320/pexels-photo-1833320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-four .card-image {
  background: url("https://images.pexels.com/photos/2307221/pexels-photo-2307221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-five .card-image {
  background: url("https://images.pexels.com/photos/2788792/pexels-photo-2788792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-six .card-image {
  background: url("https://images.pexels.com/photos/2956954/pexels-photo-2956954.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.container-four {
  padding: 40px;
}

.container-four .top-side .events {
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
  font-size: 26pt;
}

.event-images {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 90vw;
}

.event-image-one .image-one {
  background: url("https://images.pexels.com/photos/16231184/pexels-photo-16231184/free-photo-of-woman-sitting-at-the-table-in-a-cafe-and-reading-a-book.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
}

.event-image-two .image-two {
  background: url("https://images.pexels.com/photos/1592260/pexels-photo-1592260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
}

.container-four .event-images {
  text-align: center;
}

.container-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-five h4 {
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
  font-size: 26pt;
  text-align: start;
}

.name-input input {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 8pt 20px rgba(0, 0, 0, 0.7);
}

.email-input input {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  box-shadow: 0pt 4px 8px rgba(0, 0, 0, 0.7);
}

.message textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 8pt 20px rgba(0, 0, 0, 0.7);
}

.contact-btn {
  display: block;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
}
