@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat&display=swap");

/* font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif;*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.navbar {
  display: block;
  width: 100%;
}

.navbar .logo {
  position: absolute;
  width: 20vw;
  padding: 20px;
}

.navbar-ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}

.nav-list-item {
  list-style-type: none;
  font-size: 14pt;
}

.nav-list-item a {
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.nav-list-item:last-child {
  margin-right: 20px;
}

.container-one {
  padding: 40px;
  justify-content: space-between;
  display: flex;
}

.container-one .left-side h1 {
  font-size: 44pt;
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
}

.container-one .left-side p {
  font-size: 14pt;
  margin-right: 12px;
}

.container-one .right-side .image {
  background: url("https://images.pexels.com/photos/3230010/pexels-photo-3230010.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
  width: 50vw;
  height: 50vh;
}

.container-three {
  padding: 40px;
}

.top-side {
  display: flex;
  justify-content: space-between;
}

.container-three .top-side .description {
  max-width: 60%;
  margin-top: 40px;
}

.container-three .top-side .new-home {
  font-family: "Grand Hotel", cursive;
  text-shadow: 0pt 8pt 20px rgba(0, 0, 0, 0.7);
  max-width: 30%;
  font-size: 32pt;
}

.container-three .bottom-side {
  margin-top: 40px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.card {
  width: 25vw;
  height: 25vh;
}

.card-one,
.card-two,
.card-three {
  border-radius: 5px;
}

.card-one {
  background: url("https://images.pexels.com/photos/1813466/pexels-photo-1813466.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat center center/cover;
}

.card-two {
  background: url("https://images.pexels.com/photos/1024359/pexels-photo-1024359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}

.card-three {
  background: url("https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
}
