:root {
  --darkest: #393646;
  --dark: #4f4557;
  --light: #6d5d6e;
  --lightest: #f4eee0;
}

body {
  background-color: var(--light);
  font-family: "Fira Code";
  color: var(--lightest);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: start;
}

.form-control {
  background-color: var(--darkest);
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 400px;
}

.form-control h1 {
  text-align: center;
  text-transform: uppercase;
}

.form-username,
.form-password {
  margin: 20px 0;
  width: 100%;
}

input {
  background-color: var(--lightest);
  color: var(--light);
  display: block;
  margin-top: 10px;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  outline: 0;
  border: none;
  width: 100%;
}

.btn {
  width: 100%;
  background-color: var(--light);
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 4px;
  color: var(--lightest);
  margin: 20px 0;
}
