:root {
    --bulbasaur: #89C893;
    --charmander: #FFE26F;
    --squirtle: #55A3AB;
    --cream: #EFEFEF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: var(--bulbasaur);
    color: var(--cream);
}

h1 {
    text-align: center;
    color: var(--cream);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    max-width: 90%;
}

.pokemon {
    width: 250px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--squirtle);
    border-radius: 20px;
    background-color: var(--squirtle);
    color: var(--charmander);
    padding: 20px;
}

.title {
    border-bottom: 3px solid var(--cream);
    padding-bottom: 10px;

}

.type {
    border-top: 3px solid var(--cream);
    padding-top: 10px;
}

.image {
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 50px;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal .pokemon-modal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    background-color: var(--charmander);
    color: var(--squirtle);
    border-radius: 20px;
}

.modal .pokemon-modal h1 {
    color: var(--squirtle);
    padding-top: 20px;
}
