:root {
    --color-one: #0B2447;
    --color-two: #19376D;
    --color-three: #576CBC;
    --color-four: #A5D7E8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-two);
    color: var(--color-four);
    font-family:'Courier New', Courier, monospace
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h1 {
    font-size: 60px;
    margin: 0;
}

small {
    margin-bottom: 50px;
}

.input-section {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-section button {
    font-size: 12px;
    padding: 5px 9px;
    background-color: transparent;
    color: #fff;
    border-color: var(--color-four);
    border-radius: 8px;
}

.list-section ul li {
    font-size: 28px;
    list-style-type: none;
}

.list-section ul li {
    margin: 3px 10px;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid var(--color-four);
    margin-bottom: 20px;
    border-width: inherit;
}

.cancel-btn {
    background-color: transparent;
    color: #fff;
    border-color: var(--color-four);
    border-radius: 8px;
}