* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    background-color: antiquewhite;
}


.input-item {
    margin-top: 20px;
    font-size: 22px;
}

.input-item input {
    margin: 0 12px;
    border: none;
}

.list-item {
    font-size: 30px;
}

.list-item ul {
    list-style-type: none;
    text-align: center;
}

button {
    background-color: transparent;
    border-color: cornflowerblue;
    border-radius: 4px;
    padding: 4px 8px;
}