@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.panels {
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 800px;
    margin: 10px;
    border-radius: 10px;
}

.panels h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 28px;
    opacity: 0;
}
.panels.active {
    width: 800px;
    transition: 1s ease-in;
}


.panels.active h3 {
    opacity: 1;
}

