@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
}


.quote p {
    cursor: pointer;
    padding: 20px;
    width: 20px;
    height: 200px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    color: transparent;
}

.quote.active p {
    width: 300px;
    color: #fff;
    transition: width 0.7s ease-in-out;
}


.quote-line-1 {
    background-color: cornflowerblue;
    color: #fff;
}


.quote-line-2 {
    background-color: plum;
    color: #fff;
}

.quote-line-3 {
    background-color: salmon;
    color: #fff;
}

.quote-line-4 {
    background-color: skyblue;
    color: #fff;
}

.quote-line-5 {
    background-color: greenyellow;
    color: #000;
}