* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.navbar {
  position: relative;
  padding: 24pt;
  width: 100%;
}

.logo-image img {
  width: 100pt;
}

.list-items {
  float: right;
  list-style: none;
}

.list-item a {
  color: #fff;
  text-decoration: none;
  margin: 4pt;
  display: none;
}

.hamburger {
  position: absolute;
  top: 40pt;
  right: 20pt;
}

.hero-image .image {
  background: url("images/digitalprinting.jpg") center center/cover;
  width: 100%;
  height: 200pt;
}

.hero-image .image .gradient {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 200pt;
}

.hero-image-text {
  color: #fff;
}

.litho-printers-container {
  width: 100%;
}

.litho-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10pt;
}

.litho-images p {
  color: #fff;
}

.litho {
  background-color: #262626;
  width: 100%;
  height: 100pt;
}

.mission-image .image {
  background: url("images/cmyk-colors-article.jpg") center center/cover;
  width: 100%;
  height: 100pt;
}

footer {
  width: 100%;
  background-color: #262626;
  height: 50pt;
  color: #fff;
}
