<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Body shit</title>
  </head>
  <body>
    <div class="main-container">
      <div class="muscle-group">
        <div class="muscles">
          <a href="muscles/chest" id="chest"
            ><div class="chest muscle"></div
          ></a>
          <a href="muscles/shoulders"><div class="shoulders muscle"></div></a>
          <a href="muscles/abs"><div class="abs muscle"></div></a>
          <a href="muscles/legs"><div class="legs muscle"></div></a>
          <a href="muscles/back"><div class="back muscle"></div></a>
          <a href="muscles/arms"><div class="arms muscle"></div></a>
        </div>
      </div>
    </div>
  </body>
</html>
