<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Body shit</title>
  </head>
  <body>
    <div class="main-container">
      <div class="muscle-group">
        <div class="muscles">
          <div class="chest muscle"></div>
          <div class="shoulders muscle"></div>
          <div class="abs muscle"></div>
          <div class="legs muscle"></div>
          <div class="back muscle"></div>
          <div class="arms muscle"></div>
        </div>
      </div>
    </div>
  </body>
</html>
