<%- include("partials/navbar") -%>
<body>
  <div class="main-container">
    <div class="muscle-group">
      <div class="muscles">
        <a href="chest" id="chest"><div class="chest muscle"></div></a>
        <a href="shoulders"><div class="shoulders muscle"></div></a>
        <a href="abs"><div class="abs muscle"></div></a>
        <a href="legs"><div class="legs muscle"></div></a>
        <a href="back"><div class="back muscle"></div></a>
        <a href="arms"><div class="arms muscle"></div></a>
      </div>
    </div>
  </div>
</body>
