<%- include("partials/navbar") -%>

<body>
  <div class="muscle-container">
    <% muscles.forEach(muscle => { %>
    <div class="muscle-image"></div>
    <div class="muscle-header">
      <h1><a href="#"><%- muscle.name %></a></h1>
    </div>
    <div class="muscle-short-desc">
      <p><%- muscle.shortDesc %></p>
    </div>
    <% }) %>
  </div>
</body>
