.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.color-one .red {
  background-color: red;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-one .green {
  background-color: green;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-one {
  display: flex;
  width: 100%;
}

.color-two .yellow {
  background-color: yellow;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-two .cyan {
  background-color: cyan;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-two .black {
  background-color: black;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-two {
  display: flex;
  width: 100%;
}

.color-three .grey {
  background-color: gray;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-three .salmon {
  background-color: salmon;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-three .lightblue {
  background-color: lightblue;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-three .orange {
  background-color: orange;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-three {
  display: flex;
  width: 100%;
}

.color-four {
  display: flex;
  width: 100%;
}

.color-four .beige {
  background-color: beige;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-four .chocolate {
  background-color: chocolate;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-four .darkmagenta {
  background-color: darkmagenta;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-four .deeppink {
  background-color: deeppink;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.color-four .greenyellow {
  background-color: greenyellow;
  width: 90%;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }

  .color-one {
    opacity: 0;
  }

  .color-one .green {
    height: 200px;
  }

  .color-one .red {
    height: 200px;
  }

  .color-two .yellow {
    height: 200px;
  }

  .color-two .cyan {
    height: 200px;
  }

  .color-two .black {
    height: 200px;
  }

  .color-three .salmon {
    height: 200px;
  }
  .color-three .lightblue {
    height: 200px;
  }
  .color-three .grey {
    height: 200px;
  }

  .color-three .orange {
    height: 200px;
  }

  .color-four .beige {
    height: 200px;
  }

  .color-four .chocolate {
    height: 200px;
  }

  .color-four .darkmagenta {
    height: 200px;
  }

  .color-four .deeppink {
    height: 200px;
  }

  .color-four .greenyellow {
    height: 200px;
  }
}
