* {
  box-sizing: border-box;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  width: 25vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16pt;
  margin-bottom: 48pt;
}

.navbar-ul a {
  color: black;
  font-size: 16pt;
  text-decoration: none;
  margin: 0 8pt;
}

.container-one {
  display: flex;
}

.container-left {
  padding: 16pt;
  margin: 0;
  align-items: start;
  text-shadow: 0 1pt 16pt rgba(0, 0, 0, 0.2);
}

.container-left button {
  background-color: black;
  color: white;
  padding: 6pt 12pt;
  border: none;
}

.container-right .hero-image {
  background: url("https://images.pexels.com/photos/276508/pexels-photo-276508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 50vw;
  height: 30vh;
}

.cards {
  display: flex;
  padding: 0 16pt;
}
