@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Open+Sans&display=swap");

/* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  padding: 0 24pt;
  margin-bottom: 48pt;
}

.navbar-logo img {
  width: 25vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16pt;
  margin-bottom: 48pt;
}

.navbar-ul a {
  color: black;
  font-size: 22pt;
  text-decoration: none;
  margin: 0 8pt;
}

.container-one {
  display: flex;
  margin-bottom: 48pt;
}

.container-left {
  padding: 16pt;
  margin: 0;
  align-items: start;
  text-shadow: 0 1pt 16pt rgba(0, 0, 0, 0.1);
}

.container-left button {
  background-color: black;
  color: white;
  padding: 6pt 12pt;
  border: none;
  cursor: pointer;
}

.container-left h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48pt;
}

.container-right .hero-image {
  background: url("https://images.pexels.com/photos/276508/pexels-photo-276508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  width: 50vw;
  height: 50vh;
}

.hero-gradient {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 50vh;
}

.cards {
  display: flex;
  padding: 0 16pt;
}

.card {
  margin: 0 22pt;
}

.card a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.next i {
  font-weight: bolder;
}
