body {
  margin: 20px;
}

label {
  display: block;
  margin: 20px;
}

textarea {
  display: block;
  margin: 20px;
}

button {
  margin: 20px;
}

.title {
  padding: 20px 40px;
}

.body {
  padding: 20px 40px;
}