@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
    height: 80vh;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
}

h1 {
    padding-bottom: 20px;
    border-bottom: 4px solid grey;
    text-align: center;
}

.exchange-rate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    border-bottom: 1px solid grey;
}

.current-price {
    margin-top: 10px;
    text-align: center;
}

.swap-btn .swap {
    margin-top: 20px;
    margin-left: 50%;
}

.rate-one .number-input {
    width: 50%;
}


